.index_bottom{
	width:100%;
	height:670px;
	margin-top:21px;
}
.index_bottom>div{
	width:100%;
	height:88px;
	background: #F7F7F7;
}
.index_bottom>div>ul{
	width:1200px;
	margin: auto;
}
.index_bottom_list1{
	width:100%;
	height:88px;
}
.index_bottom_list1>a{
	float: left;
	margin-top: 17px;
	margin-right: 50px;
}
.index_bottom_list1>a:nth-child(1){
	/*margin-left:336px;*/
}
.index_bottom_list1>a>img{
	float: left;
}
.index_bottom_list1>a:hover img{
	 transition: all 0.4s ease-in-out 0.01s;
	-webkit-transform: rotateY(360deg);
}
.index_bottom_list1>a>div{
	float: left;
	margin-left: 10px;
	margin-top: 8px;
	line-height: 25px;
}
.index_bottom_list1>a>div>p:nth-child(1){
	font: bold 16px "微软雅黑";
	color:#666666;
}
.index_bottom_list1>a>div>p:nth-child(2){
	font: 14px "微软雅黑";
	color:#676767;
}
.index_bottom_list2{
	width:1200px;
	height:192px;
	margin:35px auto;
}
.index_bottom_list2>table{
	width:840px;
	height:149px;
	float: left;
	text-align: center;
}
.index_bottom_list2>table td{
	border: none;
}
.index_bottom_list2 tr:not(.index_bottom_tr) td>a{
	font: 14px "微软雅黑";
	color:#676767;
	height:25px;
}
.index_bottom_list2 tr:not(.index_bottom_tr) td>a:hover{
	text-decoration: underline;
}
.index_bottom_list2>table tr:nth-child(1)>td{
	font: bold 16px "微软雅黑";
	color:#666666;
	height: 50px;
}
.index_bottom_list2_right{
	height: 192px;
	float: right;
	margin-right: 20px;
}
.index_bottom_list2_right>li:nth-child(1){
	margin-top: 20px;
}
.index_bottom_list2_right>li img{
	float: left;
}
.index_bottom_list2_right>li>div{
	float: left;
	margin-left: 10px;
}
.index_bottom_li1_p1{
	font:bold 14px "微软雅黑";
	color: #676767;
}
.index_bottom_li1_p2{
	font:bold 30px "微软雅黑";
	color:#5FBBA0;
}
.index_bottom_list2_right>li{
	margin-bottom: 10px;
}
.index_bottom_li2_p2{
	color: #ED9700;
}
.index_bottom_list2_right>li>a{
	font:bold 25px "微软雅黑";
	color: #999999;
	padding-left:10px;
}

.index_bottom_list3{
	width:1200px;
	height: 128px;
	border: 1px solid #676767;
	border-left: none;
	border-right: none;
	margin:auto;
}
.index_bottom_list3 img{
	width: 79px;
	height: 79px;
	float: left;
}
.index_bottom_list3_ul>li:nth-child(1){
	margin-top: 20px;
}
.index_bottom_list3_ul>li img{
	float: left;
}
.index_bottom_list3_ul>li>div{
	float: left;
	margin-left: 10px;
}
.index_bottom_list3_ul>li{
	float: left;
	margin-top: 21px;
	margin-right:50px;
}
.index_bottom_list3_ul>li:nth-child(1){
	margin-left: 119px; 
}
.index_bottom_list3_p1{
	color:#666666;
	font:bold 18px "微软雅黑";
}
.index_bottom_list3_p2{
	color: #676767;
	font: 13px "微软雅黑";
	margin-top: 5px;
}
.index_bottom_list3_p3{
	color: #676767;
	font: 14px "微软雅黑";
}
.index_bottom_list3_ul>li:nth-child(3) .index_bottom_list3_p2{
	margin-top: -2px;
}
.index_bottom_list3_a{
	width: 126px;
	border: 1px solid #999999;
	border-radius:10px;
	text-align: center;
	color: white;
	background: #999999;
	margin-top: 5px;
	cursor: pointer;
}
.index_bottom_list3_a:hover{
	background: #676767;
}

.index_bottom_list4{
	width:1200px;
	height: 156px;
	border-bottom: 1px solid #676767;
	margin:21px auto;
	text-align: center;
}
.index_bottom_list4 a{
	display: inline;
}
.index_bottom_list4>div{
	width:100%;
	height: 20px;
	text-align: center;
}

.index_bottom_list4>div:nth-child(1)>a{
	display: inline;
	color: #666666;
	font: 16px "微软雅黑";
	border-left: 1px solid #ccc;
	padding: 0 5px;
	
}
.index_bottom_list4>div>a:nth-child(1){
	border: none;
}
.index_bottom_list4>p{
	font: 16px "微软雅黑";
	color: #999;
	margin-top: 10px;
}
.index_bottom_list4>div:nth-of-type(2){
	margin-top: 10px;
}
.index_bottom_list4>div:nth-of-type(2)>span{
	font: 16px "微软雅黑";
	color: #999;
}
.index_bottom_list4>div:nth-of-type(2)>a>img{
	position: absolute;
	top:1px;
	left:-20px;
}
.index_bottom_list4>div:nth-of-type(2)>a{
	display: inline;
	font: 16px "微软雅黑";
	color: #999;
	position: relative;
}
.index_bottom_list4>div:nth-of-type(2)>a:nth-child(2){
	margin-left: 40px;
}
.index_bottom_list4>div:nth-of-type(2)>span{
	margin-left: 40px;
}
.index_bottom_list4>div:nth-of-type(3){
	margin-top: 15px;
}
.index_bottom_list4>div:nth-of-type(3)>a>img{
	height:36px;
	width: auto;
}
.index_bottom_list4>div:nth-child(1)>a:hover{
	color:#5FBBA0;
}

.index_bottom_list5{
	width: 1200px;
	height: 37px;
	margin: -12px auto;
}
.index_bottom_list5>ul>li{
	float: left;
}
.index_bottom_list5>ul>li>span{
	font: 16px "微软雅黑";
	color: #999999;
}
.index_bottom_list5>ul>li>a{
	margin-left: 10px;
	font: 12px "微软雅黑";
	color: #999999;
	margin-top: 2px;
}
.index_bottom_list5>ul>li>a:hover{
	color:#5FBBA0;
}
.index_point{
	position: fixed;
	top: 30%;
	left: 5px;
	z-index: 1000;
	/*display: none;*/
	
}
.index_point>a{
	width:80px;
	display: block;
	border-bottom: 1px solid #D6D6D6;
	color:#999;
	text-align: center;
	padding: 5px 0 5px 0;
}
.index_point>a>span:nth-child(2){
	display: none;
}
.index_point_a_click{
	background: #4fbba1;
}
.index_point_a_click>span{
	color:#fff;
}
