.header{
	width: 100%;
	height: 50px;
	background: lightgrey;
	line-height: 50px;
}
.layui-breadcrumb{
	margin-left: 150px;
}
.prodetail_content{
	margin-top: 20px;
	margin-left: 150px;
}
.prodetail_content>div{
	float: left;
	margin-right: 20px;
}
.content_left,.content_right{
	width: 500px;
	height:500px;
	background:antiquewhite;
}
.content_left>img{
	width: 500px;
	height: 500px;
	margin: auto;
}
.productName{
	font: normal 40px "微软雅黑";
	text-align: center;
	margin-top: 20px;
}
.productDetail{
	text-indent: 4.5em;
	font: normal 15px "微软雅黑";
	color: red;
	margin-top: 10px;
}
.productPrice{
	font: bold 30px "微软雅黑";
	color: black;
	margin-top: 20px;
	text-indent: 2.5em;
}
.detail{
	margin-top: 20px;
}
.detail>span{
	margin-left: 60px;
	color: #999;
}
.count{
	margin-top: 20px;
	height: 60px;
}
.count>span{
	font: normal 20px "微软雅黑";
	margin-left: 60px;
	float: left;
}
.count>div{
	float: right;
	margin-right: 200px;
}
.count>div>button{
	width: 30px;
	height: 30px;
}
.count>div>span{
	margin-left: 10px;
	margin-right: 10px;
	font: normal 20px "微软雅黑";
}
.method{
	margin-top: 40px;
	
}
.method>a{
	display: inline-block;
	width:80px;
	height: 50px;
	background: orange;
	text-align: center;
	font:normal 16px/50px "微软雅黑";
	color: black;
	margin-left: 80px;
	
}
.method>a:nth-child(2){
	background: orangered;
}
.method>a:hover{
	text-decoration: none;
}
.modal-body>a{
	margin-right: 50px;
}
